.logo-title{
  width: 70%;
}

.title-frame2{
  margin-bottom: 3em;
}

.border-title{
  margin-top: 1em;
  border: 2px solid white;
}

.sub-content{
  width: 100%;
}

.sub-content span{
  color: rgb(0, 121, 51);
  font-weight: 700;
}
