body{
    font-family: 'Nunito', sans-serif !important;
}

.body-img{
    background-image: url("../imgs/pg-inteira-2x.png");
    position: relative;
    width: 100wh;
    height: 450vh;
    background-size: cover;
}

.frame1-img{
    width: 100wh;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: crimson;
}

.frame2-img{
    width: 100wh;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: teal;
}

.frame3-img{
    width: 100wh;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: goldenrod;
}